{:kotoba.app/id "cloud.itonami.isic-9511", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiem6c6v5pptb7mmazfwi2kjp5rjj6egu24tjmogdjdr46t5ujgnt4", :kotoba.app/embed-url "ipfs://bafkreiem6c6v5pptb7mmazfwi2kjp5rjj6egu24tjmogdjdr46t5ujgnt4", :published {:archive "https://kotobase.net/ipfs/bafkreiem6c6v5pptb7mmazfwi2kjp5rjj6egu24tjmogdjdr46t5ujgnt4", :size 5300, :put-status 201, :get-status 200, :at "2026-08-15T13:35:26.608Z"}}
